@font-face {
  font-family: "Junicode";
  src:
    local("Junicode"),
    url("fonts/JunicodeVF-Roman.woff2") format("woff");
    font-style: normal;
}
@font-face {
  font-family: "Junicode";
  src:
    local("Junicode"),
    url("fonts/JunicodeVF-Italic.woff2") format("woff");
    font-style: italic;
}

:root {
    background-color: black;
    padding: 1rem;
    font-size-adjust: .5;
    font-family: 'Junicode', Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
body {
    max-width: 720px;
    min-height: calc(100vh - 4rem);
    margin: auto;
    padding: 1rem;
    background-color: wheat;
}
sup {
    font-size: 1em;
    vertical-align: bottom;
    font-variant-position: super;
}
.manuscrit {
    font-style: italic;
}
